body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Kosugi Maru", sans-serif;

  .global-container {
    width: 100%;
    min-height: 100vh;
    background: $bg-color;
    animation: colorAnimation 6s ease infinite;
    background-size: 120% 120%;
    background-repeat: no-repeat;
    position: absolute;
  }
}
