html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: $base-color;
  font-family: "Kosugi Maru", sans-serif;

  .global-container {
    position: static;
  }
}

//Web Animation APIで動的に背景色変化させる
