//============================variable===============================
//color
$main-color: #45a2ce;
$sub-color: #eeac5b;
$base-color: #fffbed;
$special-color: #ff7a7a;
$bg-color: linear-gradient(
  180deg,
  rgba(255, 251, 237, 1) 0%,
  rgba(246, 247, 235, 1) 63%,
  rgba(160, 197, 213, 0.516) 79%,
  rgba(69, 162, 206, 1) 100%
);

//============================responsive===============================
$breakpoints: (
  "xs": (
    min-width: 0,
  ),
  "sm": (
    min-width: 576px,
  ),
  "md": (
    min-width: 768px,
  ),
  "lg": (
    min-width: 992px,
  ),
  "xl": (
    min-width: 1200px,
  ),
  "xxl": (
    min-width: 1400px,
  ),
) !default;

@mixin responsive($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @error "指定されたブレークポイントは定義されていません。" + "指定できるブレークポイントは次のとおりです。 -> #{map-keys($breakpoints)}";
  }
}

//============================animation===============================
//animation mixin
@mixin hover-transition($element: bg, $duration: 0.1s) {
  transition: all $duration;

  &:hover {
    @if $element == bg {
      background-color: $sub-color;
    } @else if $element == txt {
      color: $sub-color;
    }
  }
}

//bgAnimation
@keyframes colorAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 60%;
  }
  100% {
    background-position: 0% 0%;
  }
}
